* {
  box-sizing: border-box;

}

body {
  margin: 0;
  padding: 0;
  background-color: burlywood;
}

header {
  background-color: darkmagenta;
  height: 200px;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
}

h1 {
  font-size: 50px;
  background-color: aqua;
  width: 25%;
}

nav {

}

ul {
  display: flex;
  gap:10px;
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 25px;
}

ul li a {
  color: white;
}

section {
  display: flex;
  justify-content: flex-start;
}

.work {
  display:flex;
  flex-wrap: wrap;
}

div.work2 {
  display:flex;
  width: 99%;
}
section div.work2 a {
  justify-content: center;
}

section div.work2 a img.smoll {
  width: 99%;
  padding: 1%;
}

section div.work img.bigimg {
  width: 100%;
  padding: 1%;
}

section h2 {
  padding-right: 10px;
  width: 20%;
  text-align: right;
  outline: 1px solid red;
  background-color: grey;
}

section div {
  width: 80%;
  outline: 1px solid green;
}

section div.links {
  display: flex;
  padding-left: 20px;
  text-align: center;
  background-color: azure;
}

section div.links h3 {
  width: 25%;
  outline: 1px solid blue;
  color: black;
  cursor: pointer;
}

section div.about {
  background-color: white;
}

@media-screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }
}
